@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");

:root {
  --black-color: #010206;
  --dark-blue: #18252e;
  --blue-grey: #5a737a;
  --light-blue: #77aec3;
  --dark-grey: #666666;
  --light-grey: #a3a3a3;
  --grey-color: #b6bbb5;
  --white-color: #e6e8e7;
  --bg-color: #faf8f8f6;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* 1rem = 10px */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  background: var(--bg-color);
}

img {
  max-width: 100%;
}

h2 {
  color: var(--dark-blue);
  font-size: 5rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 3.5rem;
  letter-spacing: -0.5px;
}

p {
  margin: 0;
  padding: 0;
}

/* Navegacion */
.marca {
  font-size: 2.5rem;
  font-weight: 700;
}

.navli {
  font-size: 1.6rem;
  margin-right: 2rem;
}

.nav-link .fab {
  color: #25d366 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #18405a;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(1, 2, 6, 0.651), rgba(1, 2, 6, 0.651)),
    url(../img/backM2.webp);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-inner {
  padding: 0;
}

.hero h1 {
  text-shadow: 2px 2px #18252e;
  letter-spacing: -0.5;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 6rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 6rem;
  margin-right: 0;
  margin-left: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.hero a,
#hero-proyectos a {
  color: rgba(255, 255, 255, 0.733);
}

.arrow {
  text-align: center;
  margin: 8% 0;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.p-hero {
  background-color: #333333;
  color: var(--white-color);
  text-align: center;
}

/* Servicios */
#services {
  margin-top: 5rem;
  text-align: center;
}

.hr-ns {
  border: 5px solid #edcd1f;
  display: inline-block;
  text-align: center;
  width: 24%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.serv-tres {
  margin-top: 3rem;
  margin-bottom: 8rem;
  color: #18405ab0;
}

.serv-tres span {
  font-weight: bold;
}

.serv-tres p {
  color: var(--dark-grey);
  line-height: 2.2;
  text-align: center;
  font-size: 1.8rem;
}

.serv-tres .fas {
  margin-bottom: 5rem;
}

.serv-bloque {
  padding: 3rem 3rem;
  transition: all 0.3s linear;
}

.serv-bloque:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 5px 5px rgb(235, 234, 234);
  color: #f0d333;
}

.nuestros-servicios {
  display: flex;
  flex-wrap: wrap;
}

.servicios {
  display: flex;
  flex-direction: column;
  background: #fff;
  text-align: center;
  box-shadow: 1px 11px 14px 3px rgba(30, 30, 60, 0.25);
}

.servicios:nth-child(2n + 2) {
  flex-direction: column-reverse;
  /* Posiciona de forma correcta los titulos arriba de las imagenes */
}

.serv-contenido {
  padding: 3rem 1rem;
  font-weight: 400;
  margin: 1.5rem;
  color: #18252e;
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  line-height: 2;
}

.serv-contenido h3 {
  color: var(--blue-grey);
  margin-bottom: 2rem;
}

/* Seccion para cotizar */

#cotiza {
  margin-top: 4rem;
  text-align: center;
}

#cotiza h3 {
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--white-color);
  word-spacing: 0.5rem;
  letter-spacing: 0.2rem;
}

.cot-con {
  margin-top: 8rem;
  margin-bottom: 8rem;
  background-color: rgba(90, 115, 122, 0.74);
}

#cotiza span {
  display: flex;
  justify-content: center;
  font-size: 6rem;
  font-weight: bold;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 2rem;
  color: #edcd1f;
  transform: scale(1.1);
}

#cotiza span:hover {
  transform: scale(1.3);
}

#cotiza p {
  font-size: 1.8rem;
  color: var(--white-color);
}

#cotiza a {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.pasos-c {
  padding: 5rem;
}

.service-21.wrap-service21-box {
  background-size: cover;
  background-attachment: fixed;
  background-position: left center;
}

#proyectos {
  margin-top: 10rem;
  margin-bottom: 10rem;
  text-align: center;
}

#proyectos hr {
  border: 5px solid #edcd1f;
  text-align: center;
  width: 21%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

.col-pr {
  margin-bottom: 3rem;
  position: relative;
}

.img-proyectos {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
}

.c-texto {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.col-pr:hover .img-proyectos {
  opacity: 0.3;
}

.col-pr:hover .c-texto {
  opacity: 1;
}

.c-texto p {
  background-color: var(--dark-blue);
  color: white;
  font-size: 1.8rem;
  padding: 1.2rem 2.8rem;
  font-weight: 500;
}

#contacto {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

#contacto hr {
  border: 5px solid #edcd1f;
  text-align: center;
  width: 18%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

#contacto h3 {
  color: var(--dark-grey);
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 10rem;
  margin-bottom: 5rem;
  padding-left: 3rem;
}

#contacto p {
  font-weight: 300;
  font-size: 1.8rem;
  padding-left: 3rem;
}

.p-dir {
  padding-bottom: 3rem;
}

#footer {
  margin-bottom: 2rem;
  text-align: center;
}

#footer a {
  padding-right: 2rem;
}

#footer a:last-of-type {
  padding-right: 0;
}

#footer p {
  color: var(--light-grey);
  word-spacing: 0.3rem;
}

/* ------------------------------- Pagina de proyectos --------------------------- */

#hero-proyectos {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(1, 2, 6, 0.651), rgba(1, 2, 6, 0.651)),
    url(../img/paginaProyectos/hero1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#hero-proyectos h1 {
  text-shadow: 2px 2px #18252e;
  letter-spacing: -0.5;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 6rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 6rem;
  margin-right: 0;
  margin-left: 0;
}

#about-proyectos {
  margin-top: 10rem;
  margin-bottom: 10rem;
  text-align: center;
}

#about-proyectos h2 {
  margin-bottom: 5rem;
}

#about-proyectos p {
  font-size: 1.8rem;
  margin-bottom: 4rem;
  color: #666666;
}

#about-proyectos .fas {
  color: var(--light-blue);
}

#galeria-proyectos {
  margin-top: 6rem;
  text-align: center;
  margin-bottom: 6rem;
}

#galeria-proyectos img {
  padding-right: 1.5rem;
  padding-top: 0.5rem;
}

.proyecto-bloque {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.proyecto-titulo {
  padding: 30px 0;
  background-color: var(--dark-blue);
  color: var(--white-color);
  margin-bottom: 6rem;
}
.proyecto-titulo h3 {
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
}

.pr {
  margin: 0 !important;
  padding: 0 !important;
}

/* --------------------------- Pagina galeria ------------------------ */

#galeria {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

#galeria p {
  padding-top: 2rem;
  padding-bottom: 4rem;
  font-size: 2rem;
  color: var(--dark-grey);
}

#galeria img {
  padding: 0.5rem;
}

/* --------------------------- Pagina nosotros ------------------------ */

/* ---------------------------------------------------- */

.content {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}

.about-hero {
  position: relative;
  background-image: linear-gradient(rgba(1, 2, 6, 0.685), rgba(1, 2, 6, 0.678)),
    url(../img/CanceleriaCasaHabitación/Casa1-2.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.about-hero h2 {
  text-align: left;
  position: relative;
  z-index: 1;
  font-size: 5rem;
  font-weight: lighter;
  margin: 0 0 2rem;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: #010206;
}

.about-hero p {
  position: relative;
  z-index: 1;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(204, 203, 202);
  text-shadow: #000000;
  line-height: 1.7;
}

/* ========================= */

/* .waves {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background-color: #77aec3;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 500ms;
}

.waves::before,
.waves::after {
  content: "";
  position: absolute;
  width: 300vw;
  height: 300vw;
  top: -65vw;
  left: 50%;
  transform: translate(-50%, -75%);
}

.waves::before {
  border-radius: 44%;
  background: rgba(51, 51, 51, 1);
  animation: waves 8s linear infinite;
}

.waves::after {
  border-radius: 44%;
  background: rgba(51, 51, 51, 0.5);
  animation: waves 15s linear infinite;
}

@keyframes waves {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
} */

.no-p {
  padding: 0 !important;
}

#info-about {
  margin-top: 8rem;
}

.if-ba {
  background-color: #ffffffef;
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
}

#info-about h2 {
  font-size: 4rem;
  margin: 3rem 5rem;
  text-align: left;
  color: #333333;
}
#info-about p {
  color: var(--dark-grey);
  font-size: 1.8rem;
  margin: 3rem 5rem;
}

#team {
  margin-bottom: 8rem;
}

#team h2 {
  color: var(--dark-blue);
  font-size: 4rem;
  padding: 6rem 0;
}

#team img {
  display: block;
  text-align: center;
  margin: auto;
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
}

#team .col-lg-4,
#team .col-lg-6,
#team .col-md-6 {
  padding: 0;
  margin: 0;
}

/* ---------------------------------------------------- */

/* ----------------- Css media code ----------------------- */

@media (min-width: 1100px) {
  .servicios {
    text-align: left;
    display: grid;
    grid-template-columns: 2fr 2fr;
    /* Crea el grid de imagen a la izquierda y la informacion a la derecha */
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .servicios .serv-contenido {
    width: 70%;
    margin: auto;
  }
}

@media screen and (max-width: 770px) {
  #info-about .row:first-of-type .col-md-6:first-child {
    order: 2;
  }
  #info-about h2 {
    text-align: center;
  }
  #info-about p {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  #hero-proyectos h1 {
    font-size: 4.5rem;
    line-height: 6rem;
  }
}

@media screen and (max-width: 470px) {
  .hero h1 {
    font-size: 4rem;
    line-height: 6rem;
  }

  #hero-proyectos h1 {
    font-size: 4rem;
    line-height: 6rem;
  }

  h2 {
    font-size: 3.8rem;
  }

  h3 {
    font-size: 3rem;
  }

  .serv-contenido {
    text-align: justify;
  }

  .serv-contenido p {
    font-size: 1.8rem;
    padding-bottom: 6rem;
  }

  .serv-contenido h3 {
    padding-top: 5rem;
  }

  .serv-bloque {
    margin-bottom: 7rem;
  }

  /* .serv-tres p {
    text-align: justify;
  } */

  #cotiza span {
    font-size: 4rem;
    padding-top: 3rem;
  }

  #cotiza p {
    padding-bottom: 3rem;
  }

  #cotiza h3 {
    font-size: 3rem;
    margin-bottom: 0;
  }

  #proyectos img {
    height: 100%;
    width: 100%;
  }

  #contacto h3 {
    margin-top: 5rem;
  }

  #footer img {
    width: 17px;
    padding-bottom: 2rem;
  }

  #footer p {
    font-size: 1.2rem;
  }

  #galeria p {
    font-size: 1.8rem;
  }
  #galeria img {
    height: 100%;
  }
  #galeria-proyectos img {
    height: 100%;
    padding-right: 0;
    padding-top: 2rem;
  }

  #info-about p {
    text-align: justify;
  }
}
